#decor
#background
  img(src="https://dl.dropbox.com/s/gnpcwdkz3x0cb6y/12002619_917957481614974_7369806542565126350_o.jpg?dl=0")
#underCard
   #mainCard.mainCard
      .leftS
         ul
            a(href="https://www.facebook.com/profile.php?id=100002021933185" target="_blank")
               li.ion-social-facebook   
            a(href="https://www.instagram.com/lockingdong" target="_blank")
               li.ion-social-instagram
            a(href="https://codepen.io/lockingdong" target="_blank")
               li.ion-social-codepen
      img#photo(src="https://dl.dropbox.com/s/tq5q2ptog7ix0e2/DONG2.jpg?dl=0")
      .rightS
         #wrap
            .cube
               .front
               .back
               .top
               .bottom
               .left
               .right
         #wrap2
            .cube2
               .front
               .back
               .top
               .bottom
               .left
               .right
         .rightCon
            h2 Front-End Developer
            h1 
               b Lee 
               |Dong-Yin
            hr
            h3 銘傳大學資訊工程學系
            h6 ✉ s8809880988@gmail.com
      .rightBack